/*GENERALES*/

body{
	display: flex;
    flex-direction: column;
    height: 100%;
	font-family: 'Lato', sans-serif;
	padding-top: 100px;
}
header{
	width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed;
	height: 80px;
}
img{
	max-width: 90%;
}
a{
	color: #009FFF;
	padding: 20px;
}

.link:hover{
	color: #FCFCF9;
}

a:link   
{   
 text-decoration:none;   
}

section{
	margin-top: 10%;
	margin-bottom: 20%;

}

/*CONTENIDO*/
.division{
	padding-top: 120px;
	width: 85%;
	margin: 5% 5% 5% 5%;

}

.division div{
	padding: 10px;
}

.barra {
	width: 100%;
	height: 100px;
	padding: 5px !important;
}
.iframe {
	width: 100%;
	height: 500px;
	border:none;
}

.imagen {
  	display:table;
  	margin:0 auto;
  	width: 400px;
}
.imagen img{
	 padding:0;
	 margin:0;
	 
}
.imagen  span{
	 line-height:normal;
	 font-size:11px;
	 display:table-caption;
	 display:inline-block;
	 margin:0;
	 background:rgba(0, 0, 0, 0.4);
	 color:white;
	 padding:3px;
	 text-align:center;
	 text-shadow:0 0 15px white;
}

/*CLASES*/

.right{
	text-align: right;
}
.sombra{
	 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 5%;
}
.espacio-abajo{
	padding: 10px;
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
}
.espacio-derecha{
	margin-right: 1em;
}
.pading-largo{
	padding: 20px 20px;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.vete-arriba{
	vertical-align: top;
}


/*MENU*/
 li:hover .sub  {
	display:block;
	padding:10px 12px;
	max-height: 200px;
}

.sub {
	list-style: none;
	padding: 0;
	margin: 0;
  	overflow: hidden;
	max-height: 0;
	color:  #5F5448;
	-webkit-transition: all 0.5s ease-out;
}

.sub a{
	margin: 2px;
	padding: 2px;
}
.sub li:hover > ul{
	display:block;
}

.sub li ul li{
	position: absolute;
}
.sub li ul li ul{
	position: absolute;
	right: -300px;
	top: 0;
}




/*FUENTES*/
.mediano{
	font-size: 2em; 
}
.mediano-pequeño{
	font-size: 18px; 
}
.grande{
	font-size: 3em;
}

.titulo{
	font-size: 25px;
	font-weight: bold;
}

.monserrat{
	font-family: 'Montserrat', sans-serif;
}
.serif{
	font-family: 'Bree Serif', serif;
}


/*COLORES*/
.blanco{
	color: #FCFCF9
}
.bck-white{
	background-color: #FFFFFF
}
.bck-amarillo{
	background-color: #F0B429
}
.grey{
	color: #5F5448
}
.bck-grey{
	background-color: #eee
}
.grey-shade{
	color: #424242
}
.naranja{
	color: #F47920
}
.bck-naranja{
	background-color: #F47920
}
.azul{
	color: #005883
}
.bck-blue{
	background-color: #005883
}

/*ANIMACIÓN*/

.retraso-1{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.retraso-2{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.retraso-3{
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}



/*PIE DE PAGINA*/
footer{
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

	footer p {
		margin: 0;
	}
	
	footer a {
		color: white;
	}


